body {
    padding-top:50px;
    background-color: #F7FAFF;
	/*background-image: url("/public/img/bg/italy.png");*/
}

.second-navbar {
    top: 50px;
}

#container {
    margin-top: 20px;
    padding-top: 10px;
    background-color: #FFFFFF;
}

.res-img img {width:100%;}
.gmappanel {
    position:relative;
    height:458px;
}



 .text-45 {font-size:45px;}

.margin-top-10 {margin-top:10px;}

/* fileDropZone */
.fileDropZone, .dropzone {
border: 1px dashed #a1a1a1;
border-radius: 10px;
min-height: 90px;
text-align: center;
background-color: rgba(233, 233, 233, 0.2);
text-align: center;
}
.fileDropZone > h6 {font-size: 20px; margin-bottom: 40px; text-align: center; float: none !important; margin: 10px 0 10px 0 !important;}
.fileDropZone > p {font-size: 12px; margin-top: 10px; text-align: center; float: none !important;}

.imgDropZone {min-height: 320px;}
.typeDropZone {width: 320px;}
.userImgDropZone {height: 318px; width: 320px;}

.dropzone.in { border:2px dashed lawngreen;}
.fileDropZone.hover, .dropzone.hover {background: #EEEEEE !important; border: 2px dashed #0EB50f !important;}
.fileDropZone.error {background: #faa !important; border: 3px dashed #FF3000 !important;}
.fileDropZone.drop {background:#EEEEEE !important; border-color: #0EB50f !important;}
.dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
/* fileDropZone END */
.lfloat {float:left;}
.rfloat {float:right;}

.center-text {text-align: center;}

.display-none {display:none;}


/* *  MISC */
.withAlert {
	position: fixed !important;
	top: 5px;
	left: 5%;
	width: 90%;
	text-align: center;
    z-index: 9999;
}

.display-none {display:none;}
.clearfix {clear:both;}
.showhideBox {cursor: pointer;}


/************************************* MEDIA SCREEN start *******************/
@media (min-width: 768px) {
/* from xs - to lg */

/* from xs - to lg */
}
@media (max-width: 480px) {
/* less then xs and xs */
	.logo-font {font-size: 45px;}
/* less then xs and xs */
}
@media (max-width: 767px) and (min-width: 481px) {
/* xs */
	.logo-font {font-size: 50px;}
/* xs*/
}
@media (min-width: 768px) and (max-width: 991px) {
/* sm (from xs - to sm) */
	
/* sm (from xs - to sm) */
}

/* -ssm- Small Devices, Tablets */
@media (min-width: 482px) and  (max-width : 768px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
/* md (from sm - to md) */

/* md (from sm - to md) */
}
/* Make Navigation Toggle on Desktop Hover * /
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover * /
    .navbar-belmar .dropdown:hover .dropdown-menu {
        display: block;
		color: #ff0;
		background-color: #1F67A8;
    }
	.navbar-belmar .dropdown-menu > li > a {
		color: #FFFFFF;
	}
	.navbar-belmar .dropdown-menu {
		background-color: #1F67A8;
		border: none;
	}
	.navbar-belmar .dropdown-menu > li > a:hover,
	.navbar-belmar .dropdown-menu > li > a:focus {
		color: #ff0;
		background-color: #1F67A8;
	}
}
@media (min-width: 1200px) {
/* lg * /

/* lg 
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 * /
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}*/

.poster-img {
  max-height: 440px;
}
.res-img {
  height: 440px;
  overflow-y: auto;
}

.badge-price {
  background: none repeat scroll 0 0 #ff8700;
  font-size: 44px;
}

/* The animation code */
@keyframes autoprice {
    0%   {
        background-color: #ff8700; left:0px; top:0px;

    }
    50%  {
        background-color: transparent; left:200px; top:200px;
        color: #ff8700;
    }
    100% {
        background-color: #ff8700; left:0px; top:0px;

    }
}

.badge-auto-price {
  background-color: transparent;
  border:1px solid #ff8700;
  color: #000000;
  font-family: "Segoe UI", "Helvetica", Arial;
  font-weight: lighter;
  font-size: 34px;
  padding: 10px;
  
    animation-name: autoprice;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.table-auto {
    border: 1px solid #777777;
    padding: 10px;
    background: none repeat scroll 0 0 #bcff9f;
}

.table-auto:nth-child(odd) {
    background: #B0FFE1;
}


.table-auto-cell {
    border-right: 1px solid #777777;
    border-top: 1px solid #afafaf;
    border-left: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    padding: 5px;
}

.table-auto .table-auto-cell:nth-last-child {
    border: none;
}

.table-auto-head {
    font-size: 34px;
    border: 1px solid #777777;
    text-shadow: 1px 1px 2px #000000;
}

.table-auto figure {
    padding: 0px;
    margin: 0px;
}
.table-auto img {
    padding: 0px;
    margin: 0px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.gsInformer {
    float: none;
    margin: 0 auto;
}

.flexslider .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {height: 100%;}


article .page-header span.pull-right {
    line-height: 45px;
}
article .page-header span strong {
    margin-left: 10px;
}