{include file='layout/head.tpl'}
</head>

<body id="about">
	{include file='layout/navbar.tpl'}
<div class="container">	

    <h1 class="text-danger">Наши Контакты</h1>
	<div class="row">
		{if isset($message)}
			{include file='lib/message.tpl'}
		{else}
			{include file='layout/contact_info.tpl'}
		{/if}
	</div>

	<div class="well  text-right pull-right">
		<h6>Партнеры:</h6>
		
		<p>
			<a href="http://www.tourstars.ru/">Туристические сайты</a>
		</p>
		<h6>soosle.ru:</h6>
		<p>
			<a title="бесплатная регистрация сайта в каталогах" href="http://soosle.ru/"><img src="http://soosle.ru/banner1.png" border="0" alt="регистрация сайта в каталогах" /></a>
			<!-- "soosle.ru" -->
			<a title="ремонт квартиры своими руками" href="http://kolonna.info/posledovatelnost_stroitelnoh_rabot/"><img src="http://soosle.ru/free.png" border="0" alt="ремонт квартиры своими руками" /></a>
		</p>
		
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	
{include file='layout/footer.tpl' hide=true}
</div> <!-- Container -->

{include file='layout/foot.tpl' hide=true}
</body>
</html>