<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">{literal}!window.jQuery && document.write(unescape("%3Cscript src='/public/js/jquery-1.10.2.min.js' type='text/javascript'%3E%3C/script%3E")){/literal}</script>
{*}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
{/*}

<script type="text/javascript" src="/public/js/plugins.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
